/* .tam{
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;           
     
}
.black{
      width: 600px;
      height: auto;
      background-color: yellow;
      margin: 70px;
      padding-left: 75px;
}
.rag{
      display: inline-block;
      padding: 15px 15px 0px;
      line-height: 1px;
      font-size: 10px;
}
.normal{
       border-radius: 60%;
}
.but{
      width: 90%;
      background-color: rosybrown;
      color: white;
      font-size: 15px;
      margin: 10px 25px;
}
.ram{
    font-size: 20px;

} */